
gateway
*.exe
*.exe~
*.dll
*.so
*.dylib


*.test
*.out
coverage.txt
/vendor/


node_modules/
npm-debug.log
yarn-error.log
.DS_Store


.env
.env.local
.env.*.local


vault/data/
vault/config/init.json
*.pcapng
